.security_common: &security_common
  stage: security
  needs: [build]

# ---- TRIVY SCAN ----
# This job runs the Trivy security scanner against the Docker image and filesystem.
trivy_scan:
  <<: *security_common
  image:
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy image --exit-code 1 --severity HIGH,CRITICAL --output trivy-report.json $DOCKER_IMAGE:$DOCKER_TAG
  artifacts:
    paths:
      - trivy-report.json
    when: always
  # rules:
  #   - if: '$CI_COMMIT_BRANCH == "dev"'
  #     when: manual      # Show with Play button on commits
  allow_failure: true

# ---- SYFT SBOM ----
# This job generates a Software Bill of Materials (SBOM) using Syft.
syft_sbom:
  <<: *security_common
  extends: .base_docker_job
  before_script:
    # Login to GitLab Container Registry to pull the image
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
    - docker pull $DOCKER_IMAGE:$DOCKER_TAG
    - apk add --no-cache curl bash
    - curl -sSfL https://get.anchore.io/syft | sh -s -- -b /usr/local/bin
  script:
    - syft --version
    - syft $DOCKER_IMAGE:$DOCKER_TAG -o spdx-json > sbom.spdx.json
  artifacts:
    paths:
      - sbom.spdx.json
    when: always
  # rules:
  #   - if: '$CI_COMMIT_BRANCH == "dev"'

# ---- GRYPE SCAN ----
# This job runs the Grype vulnerability scanner against the SBOM generated by Syft.
grype_scan:
  stage: security
  image:
    name: alpine:latest
  before_script:
    - apk add --no-cache curl bash
    - curl -sSfL https://get.anchore.io/grype | sh -s -- -b /usr/local/bin
  script:
    - grype sbom:sbom.spdx.json --fail-on high
  needs: [syft_sbom]
  retry: 2
  rules:
    # - if: '$CI_COMMIT_BRANCH == "dev"'
    #   when: manual      # Show with Play button on commits
  allow_failure: true
